-- MySQL dump 10.13  Distrib 8.3.0, for Win64 (x86_64)
--
-- Host: localhost    Database: lavaqpassabrecho
-- ------------------------------------------------------
-- Server version	8.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accountspayable`
--

DROP TABLE IF EXISTS `accountspayable`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accountspayable` (
  `IdAccountPayable` int NOT NULL AUTO_INCREMENT,
  `Amount` double NOT NULL,
  `IdSale` int DEFAULT NULL,
  `IdClientSupplier` int NOT NULL,
  `IdStore` int NOT NULL,
  `RegistrationDate` datetime NOT NULL,
  `DueDate` datetime NOT NULL,
  `Note` varchar(255) DEFAULT NULL,
  `Paid` tinyint(1) DEFAULT '0',
  `Active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`IdAccountPayable`),
  KEY `IdStore` (`IdStore`),
  KEY `idx_sale_id_accounts_payable` (`IdSale`),
  KEY `idx_client_supplier_id_accounts_payable` (`IdClientSupplier`),
  CONSTRAINT `accountspayable_ibfk_1` FOREIGN KEY (`IdSale`) REFERENCES `sale` (`IdSale`) ON DELETE CASCADE,
  CONSTRAINT `accountspayable_ibfk_2` FOREIGN KEY (`IdStore`) REFERENCES `store` (`IdStore`) ON DELETE CASCADE,
  CONSTRAINT `accountspayable_ibfk_3` FOREIGN KEY (`IdClientSupplier`) REFERENCES `clientsupplier` (`IdClientSupplier`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accountspayable`
--

LOCK TABLES `accountspayable` WRITE;
/*!40000 ALTER TABLE `accountspayable` DISABLE KEYS */;
INSERT INTO `accountspayable` VALUES (1,120,41,3,1,'2024-09-15 09:12:00','2024-10-10 09:12:00',NULL,0,1),(2,48,41,4,1,'2024-09-15 09:12:00','2024-10-10 09:12:00',NULL,0,1),(3,8,42,3,1,'2024-09-15 09:13:00','2024-10-10 09:13:00',NULL,0,1),(4,24,42,3,1,'2024-09-15 09:13:00','2024-10-10 09:13:00',NULL,0,1);
/*!40000 ALTER TABLE `accountspayable` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accountsreceivable`
--

DROP TABLE IF EXISTS `accountsreceivable`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accountsreceivable` (
  `IdAccountReceivable` int NOT NULL AUTO_INCREMENT,
  `Amount` double NOT NULL,
  `IdSale` int DEFAULT NULL,
  `IdClientSupplier` int NOT NULL,
  `IdStore` int NOT NULL,
  `RegistrationDate` datetime NOT NULL,
  `DueDate` datetime NOT NULL,
  `Note` varchar(255) DEFAULT NULL,
  `Paid` tinyint(1) DEFAULT '0',
  `Active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`IdAccountReceivable`),
  KEY `IdStore` (`IdStore`),
  KEY `idx_sale_id_accounts_receivable` (`IdSale`),
  KEY `idx_client_supplier_id_accounts_receivable` (`IdClientSupplier`),
  CONSTRAINT `accountsreceivable_ibfk_1` FOREIGN KEY (`IdSale`) REFERENCES `sale` (`IdSale`) ON DELETE CASCADE,
  CONSTRAINT `accountsreceivable_ibfk_2` FOREIGN KEY (`IdStore`) REFERENCES `store` (`IdStore`) ON DELETE CASCADE,
  CONSTRAINT `accountsreceivable_ibfk_3` FOREIGN KEY (`IdClientSupplier`) REFERENCES `clientsupplier` (`IdClientSupplier`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accountsreceivable`
--

LOCK TABLES `accountsreceivable` WRITE;
/*!40000 ALTER TABLE `accountsreceivable` DISABLE KEYS */;
/*!40000 ALTER TABLE `accountsreceivable` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientsupplier`
--

DROP TABLE IF EXISTS `clientsupplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientsupplier` (
  `IdClientSupplier` int NOT NULL AUTO_INCREMENT,
  `ClientSupplierName` varchar(80) NOT NULL,
  `Cpf` varchar(14) DEFAULT NULL,
  `Cnpj` varchar(18) DEFAULT NULL,
  `ZipCode` varchar(9) NOT NULL,
  `Address` varchar(255) NOT NULL,
  `Number` varchar(20) NOT NULL,
  `Complement` varchar(100) DEFAULT NULL,
  `Neighborhood` varchar(60) NOT NULL,
  `City` varchar(40) NOT NULL,
  `State` varchar(2) NOT NULL,
  `Phone` varchar(35) NOT NULL,
  `Email` varchar(100) NOT NULL,
  `IsClient` tinyint(1) DEFAULT NULL,
  `IsSupplier` tinyint(1) DEFAULT NULL,
  `TypeKey` enum('CPF/CNPJ','Email','Telefone','Chave Aleat├│ria') DEFAULT NULL,
  `PixKey` varchar(255) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`IdClientSupplier`),
  UNIQUE KEY `Cpf` (`Cpf`),
  UNIQUE KEY `Cnpj` (`Cnpj`),
  KEY `idx_client_supplier_name` (`ClientSupplierName`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientsupplier`
--

LOCK TABLES `clientsupplier` WRITE;
/*!40000 ALTER TABLE `clientsupplier` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientsupplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `IdProduct` int NOT NULL AUTO_INCREMENT,
  `ProductName` varchar(50) NOT NULL,
  `CostPrice` double NOT NULL,
  `SalePrice` double NOT NULL,
  `IdClientSupplier` int NOT NULL,
  `IdSubGroup` int NOT NULL,
  `IdStore` int NOT NULL,
  `IdUser` int NOT NULL,
  `RegistrationDate` datetime NOT NULL,
  `Sold` tinyint(1) DEFAULT '0',
  `Active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`IdProduct`),
  KEY `IdStore` (`IdStore`),
  KEY `IdUser` (`IdUser`),
  KEY `idx_product_name` (`ProductName`),
  KEY `idx_client_supplier_id` (`IdClientSupplier`),
  KEY `idx_subgroup_id` (`IdSubGroup`),
  CONSTRAINT `product_ibfk_1` FOREIGN KEY (`IdStore`) REFERENCES `store` (`IdStore`) ON DELETE CASCADE,
  CONSTRAINT `product_ibfk_2` FOREIGN KEY (`IdClientSupplier`) REFERENCES `clientsupplier` (`IdClientSupplier`) ON DELETE CASCADE,
  CONSTRAINT `product_ibfk_3` FOREIGN KEY (`IdSubGroup`) REFERENCES `subgroup` (`IdSubGroup`) ON DELETE CASCADE,
  CONSTRAINT `product_ibfk_4` FOREIGN KEY (`IdUser`) REFERENCES `user` (`IdUser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productgroup`
--

DROP TABLE IF EXISTS `productgroup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productgroup` (
  `IdGroup` int NOT NULL AUTO_INCREMENT,
  `GroupName` varchar(30) NOT NULL,
  `Active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`IdGroup`),
  KEY `idx_group_name` (`GroupName`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productgroup`
--

LOCK TABLES `productgroup` WRITE;
/*!40000 ALTER TABLE `productgroup` DISABLE KEYS */;
INSERT INTO `productgroup` VALUES (1,'Roupas',1),(2,'Cal├ºados',1),(3,'Acess├│rios',1);
/*!40000 ALTER TABLE `productgroup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profile`
--

DROP TABLE IF EXISTS `profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profile` (
  `IdProfile` int NOT NULL AUTO_INCREMENT,
  `UserProfile` enum('Administrador','Colaborador','Usu├írio') DEFAULT NULL,
  PRIMARY KEY (`IdProfile`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profile`
--

LOCK TABLES `profile` WRITE;
/*!40000 ALTER TABLE `profile` DISABLE KEYS */;
INSERT INTO `profile` VALUES (1,'Administrador'),(2,'Colaborador'),(3,'Usu├írio');
/*!40000 ALTER TABLE `profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sale`
--

DROP TABLE IF EXISTS `sale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sale` (
  `IdSale` int NOT NULL AUTO_INCREMENT,
  `CostPrice` double NOT NULL,
  `SalePrice` double NOT NULL,
  `IdClientSupplier` int NOT NULL,
  `IdUser` int NOT NULL,
  `IdStore` int NOT NULL,
  `SaleDate` datetime NOT NULL,
  `PaymentCondition` enum('Dinheiro','Cart├úo Cr├®dito','Cart├úo D├®bito','Cheque','Credi├írio') DEFAULT 'Dinheiro',
  `SaleStatus` enum('Finalizada','Cancelada') DEFAULT 'Finalizada',
  PRIMARY KEY (`IdSale`),
  KEY `IdStore` (`IdStore`),
  KEY `IdUser` (`IdUser`),
  KEY `idx_client_supplier_id_sale` (`IdClientSupplier`),
  KEY `idx_sale_date` (`SaleDate`),
  CONSTRAINT `sale_ibfk_1` FOREIGN KEY (`IdClientSupplier`) REFERENCES `clientsupplier` (`IdClientSupplier`) ON DELETE CASCADE,
  CONSTRAINT `sale_ibfk_2` FOREIGN KEY (`IdStore`) REFERENCES `store` (`IdStore`) ON DELETE CASCADE,
  CONSTRAINT `sale_ibfk_3` FOREIGN KEY (`IdUser`) REFERENCES `user` (`IdUser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale`
--

LOCK TABLES `sale` WRITE;
/*!40000 ALTER TABLE `sale` DISABLE KEYS */;
/*!40000 ALTER TABLE `sale` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `saledetail`
--

DROP TABLE IF EXISTS `saledetail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `saledetail` (
  `IdSaleDetail` int NOT NULL AUTO_INCREMENT,
  `IdSale` int NOT NULL,
  `IdProduct` int NOT NULL,
  PRIMARY KEY (`IdSaleDetail`),
  KEY `idx_sale_id` (`IdSale`),
  KEY `idx_product_id_sale_detail` (`IdProduct`),
  CONSTRAINT `saledetail_ibfk_1` FOREIGN KEY (`IdSale`) REFERENCES `sale` (`IdSale`) ON DELETE CASCADE,
  CONSTRAINT `saledetail_ibfk_2` FOREIGN KEY (`IdProduct`) REFERENCES `product` (`IdProduct`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `saledetail`
--

LOCK TABLES `saledetail` WRITE;
/*!40000 ALTER TABLE `saledetail` DISABLE KEYS */;
INSERT INTO `saledetail` VALUES (1,41,3),(2,41,4),(3,42,5),(4,42,1);
/*!40000 ALTER TABLE `saledetail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store`
--

DROP TABLE IF EXISTS `store`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store` (
  `IdStore` int NOT NULL AUTO_INCREMENT,
  `StoreName` varchar(40) NOT NULL,
  `ZipCode` varchar(9) NOT NULL,
  `Address` varchar(255) NOT NULL,
  `Number` varchar(20) NOT NULL,
  `Complement` varchar(100) DEFAULT NULL,
  `Neighborhood` varchar(60) DEFAULT NULL,
  `City` varchar(40) NOT NULL,
  `State` varchar(40) NOT NULL,
  `Phone` varchar(35) NOT NULL,
  `Email` varchar(60) NOT NULL,
  `Active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`IdStore`),
  KEY `idx_store_name` (`StoreName`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store`
--

LOCK TABLES `store` WRITE;
/*!40000 ALTER TABLE `store` DISABLE KEYS */;
INSERT INTO `store` VALUES (1,'Matriz-Cataguases','12345-678','Rua A','123',NULL,'Bairro A','Cidade A','Estado A','123456789','lojaa@example.com',1);
/*!40000 ALTER TABLE `store` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subgroup`
--

DROP TABLE IF EXISTS `subgroup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subgroup` (
  `IdSubGroup` int NOT NULL AUTO_INCREMENT,
  `SubGroupName` varchar(30) NOT NULL,
  `IdGroup` int NOT NULL,
  `Active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`IdSubGroup`),
  KEY `idx_subgroup_name` (`SubGroupName`),
  KEY `idx_group_id` (`IdGroup`),
  CONSTRAINT `subgroup_ibfk_1` FOREIGN KEY (`IdGroup`) REFERENCES `productgroup` (`IdGroup`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subgroup`
--

LOCK TABLES `subgroup` WRITE;
/*!40000 ALTER TABLE `subgroup` DISABLE KEYS */;
INSERT INTO `subgroup` VALUES (1,'Camisetas',1,1),(2,'Cal├ºas',1,1),(3,'T├¬nis',2,1),(4,'Chinelos',2,1),(5,'Rel├│gios',3,1),(6,'Pulseiras',3,1);
/*!40000 ALTER TABLE `subgroup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tokens`
--

DROP TABLE IF EXISTS `tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tokens` (
  `IdToken` int NOT NULL AUTO_INCREMENT,
  `IdUser` int NOT NULL,
  `Token` varchar(255) NOT NULL,
  `CreateToken` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ExpiresToken` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`IdToken`),
  KEY `IdUser` (`IdUser`),
  CONSTRAINT `tokens_ibfk_1` FOREIGN KEY (`IdUser`) REFERENCES `user` (`IdUser`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tokens`
--

LOCK TABLES `tokens` WRITE;
/*!40000 ALTER TABLE `tokens` DISABLE KEYS */;
INSERT INTO `tokens` VALUES (1,1,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MjY0MDIzNTAsImV4cCI6MTcyNjQzMTE1MH0.P8RGxq7Iz8sIY1W9NPyADAlrd3-01IwUM9nHjJjYFxE','2024-09-15 12:12:30','2024-09-15 20:12:30');
/*!40000 ALTER TABLE `tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `IdUser` int NOT NULL AUTO_INCREMENT,
  `UserName` varchar(20) NOT NULL,
  `UserEmail` varchar(60) NOT NULL,
  `Password` varchar(255) NOT NULL,
  `IdProfile` int NOT NULL,
  `Active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`IdUser`),
  UNIQUE KEY `UserName` (`UserName`),
  UNIQUE KEY `UserEmail` (`UserEmail`),
  KEY `IdProfile` (`IdProfile`),
  KEY `idx_user_email` (`UserEmail`),
  CONSTRAINT `user_ibfk_1` FOREIGN KEY (`IdProfile`) REFERENCES `profile` (`IdProfile`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'admin','admin@admin.com','$2a$10$QY3ZjyOzp13cu6V.46ZoNeTQbADgPltHSPwGDJnfRSz/70k3tOWQe',1,1);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-09-15  9:39:24
